.grid {
  display: grid;
  min-width: 0;
}

.inline {
  display: inline-grid;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

.justify-start {
  justify-items: start;
}

.justify-center {
  justify-items: center;
}

.justify-end {
  justify-items: end;
}

.justify-stretch {
  justify-items: stretch;
}

.align-content-start {
  align-content: start;
}

.align-content-center {
  align-content: center;
}

.align-content-end {
  align-content: end;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-content-evenly {
  align-content: space-evenly;
}

.align-content-stretch {
  align-content: stretch;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-stretch {
  justify-content: stretch;
}

.auto-flow-row {
  grid-auto-flow: row;
}

.auto-flow-column {
  grid-auto-flow: column;
}

.auto-flow-dense {
  grid-auto-flow: dense;
}

.auto-flow-row-dense {
  grid-auto-flow: row dense;
}

.auto-flow-column-dense {
  grid-auto-flow: column dense;
}
